<div class="px-5 mt-5 pt-5 w-100" style="margin: 0 auto; max-width: 450px;">
  <h2 class="text-center py-4">EDIT ADMIN</h2>

  <%= simple_form_for(resource, as: resource_name, url: user_registration_path(resource_name), data: { turbo: :false }, html: { method: :patch }) do |f| %>

    <div class="form-inputs">
      <div class="d-flex">
        <%= f.input :photo, as: :file, input_html: { data: { action: "change->actor#uploadPrimaryPhoto", actor_target: "photoButton" }} %>
        <% if resource.photo.attached? %>
          <%= cl_image_tag resource.photo.key, class: "ms-2", style: "width: 100px; object-fit: contain;" %>
        <% end %>
      </div>
      <%= f.input :email,
                  required: false,
                  autofocus: true %>
      <%= f.input :mobile,
                  autofocus: true %>
      <div class="d-flex">
        <%= f.input :cast_pdf, as: :file, input_html: { data: { action: "change->actor#uploadPrimaryPhoto", actor_target: "photoButton" }} %>
        <% if resource.cast_pdf.attached? %>
          <%= cl_image_tag resource.cast_pdf.key + ".png", class: "ms-2", style: "width: 100px; object-fit: contain;" %>
        <% end %>
      </div>
      <%= f.input :bio,
                  required: true,
                  label: "Bio (PT)",
                  input_html: { placeholder: "Biografia português..." } %>
      <%= f.input :bio_en,
                  required: true,
                  label: "Bio (EN)",
                  input_html: { placeholder: "English biography..." } %>
      <%#= f.input :about,
                  required: true,
                  label: "Sobre (PT)",
                  input_html: { placeholder: "Descrição do projeto (português)..." } %>
      <%#= f.input :about_en,
                  required: true,
                  label: "Sobre (EN)",
                  input_html: { placeholder: "Project description (english)..." } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
      <div class="form-actions">
        <button type="submit" name="commit" value="LOG IN" class="white-btn w-100 border-0" data-disable-with="LOG IN">SAVE</button>
      </div>

      <hr class="my-3">

      <div class="password-change">
        <h3>Change Password</h3>
        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      
        <div class="form-actions">
          <button type="submit" name="commit" value="LOG IN" class="white-btn w-100 border-0" data-disable-with="LOG IN">SAVE</button>
        </div>
      </div>
    </div>

  <% end %>

  <%= render "devise/shared/links" %>
</div>
