<div class="container-actors margin-top-index m-5">
  <div class="actors-grid">
    <p class="category-actors">_________ <%= t("actors").upcase %></p>
    <% @actors.each do |actor| %>
      <div class="actor-card-main">
        <%= link_to actor_path(actor), class: "actor-card-link mx-auto d-block" do %>
          <div class="actor-card-wrapper">
            <div class="actor-card" style="background-image: url(<%= cl_image_path actor.primary_photo.key if actor.primary_photo.attached? %>)">
              <div class="h-100 w-100 actor-card-hover">
              </div>
              <div class="actor-card-border">
              </div>
              <p class="actor-card-name-index"><%= actor.first_name.upcase %> <%= actor.last_name.upcase %></p>
            </div>
          </div>
        <% end %>
        <%# if current_user %> 
          <%# if current_user.admin %>
            <%# <div class="position-absolute d-flex flex-column w-100 text-center" style="bottom: 0px"> %>
              <%#= link_to "EDITAR", edit_actor_path(actor), class: "white-btn admin-btn" %>
              <%#= link_to "APAGAR", actor_path(actor), class: "black-btn admin-btn", data: { turbo_method: "delete", turbo_confirm: "Apagar #{actor.first_name} #{actor.last_name}?"} %>
            <%# </div> %>
          <%# end %>
        <%# end %>
      </div>
    <% end %>
  </div>
</div>
