<% content_for :meta_title, "#{@actor.first_name} #{@actor.last_name}" %>
<% content_for :meta_description, @actor.bio %>
<% content_for :meta_image, cl_image_path(@actor.primary_photo.key) if @actor.primary_photo.attached? %>
<div class="actor-show-container margin-top-show">
  <%= render "shared/actor_imgs_modal", actor: @actor %>

  <%= render "shared/actor_image_header", actor: @actor %>

  <div class="actor-infos-col pt-5 black-bg" style="z-index: 999">
    <div class="actor-header d-flex justify-content-between">
      <h1 class="actor-name mb-0 ms-5"><%= @actor.first_name.upcase %> <%= @actor.last_name.upcase %></h1>
      <div class="actor-links justify-content-center mx-5 gap-3">
        <% if @imdb_link %>
          <%= link_to @imdb_link.url, target: "_blank" do %>
            <%= cl_image_tag @imdb_link.social.logo.key, class: "actor-link" %>
          <% end %>
        <% end %>
        <% @links.each do |link| %>
          <%= link_to link.url, target: "_blank" do %>
            <%= cl_image_tag link.social.logo.key, class: "actor-link" %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="position-relative py-4 px-5" style="min-height: 175px">
      <p class="category-title">_________ BIO</p>
      <p class="actor-bio actor-p m-0"><%= I18n.locale == :pt ? @actor.bio : @actor.bio_en %></p>
    </div>
    
    <div class="white-bg position-relative py-4 px-5 d-flex justify-content-between flex-column" style="min-height: 240px">
      <p class="category-title">_________ INFO</p>
      <div class="mb-0 actor-p row">
        <div class="actor-info-header">
          <span><%= t("height").upcase %></span>
        </div>
        <div class="actor-info-content">
          <%= @actor.height %> cm
        </div>
      </div>
      <div class="mb-0 actor-p row">
        <div class="actor-info-header">
          <span><%= t("eyes").upcase %></span>
        </div>
        <div class="actor-info-content">
          <%= I18n.locale == :pt ? @actor.eyes.capitalize : @actor.eyes_en.capitalize %>
        </div>
      </div>
      <div class="mb-0 actor-p row">
        <div class="actor-info-header">
          <span><%= t("hair").upcase %></span>
        </div>
        <div class="actor-info-content">
          <%= I18n.locale == :pt ? @actor.hair.capitalize : @actor.hair_en.capitalize %>
        </div>
      </div>
      <div class="mb-0 actor-p row">
        <div class="actor-info-header">
          <span>AGE RANGE</span>
        </div>
        <div class="actor-info-content">
          <%= @actor.min_age %> - <%= @actor.max_age %>
        </div>
      </div>
      <div class="mb-0 actor-p row">
        <div class="actor-info-header">
          <span>SKILLS</span>
        </div>
        <div class="actor-info-content">
          <span><%= I18n.locale == :pt ? @actor.skills : @actor.skills_en %></span>
        </div>
      </div>
      <div class="mb-0 actor-p row">
        <div class="actor-info-header">
          <span><%= t('languages').upcase %></span>
        </div>
        <div class="actor-info-content">
          <span><%= I18n.locale == :pt ? @actor.languages : @actor.languages_en %></span>
        </div>
      </div>
    </div>

    <div class="position-relative py-4 px-5 d-flex justify-content-between flex-column" style="min-height: 175px">
      <p class="category-title">_________ <%= t("photos").upcase %></p>
      <div class="actor-photos-container">
        <% j = 1 %>
        <% @actor.ordered_photos.each do |photo| %>
          <%= cl_image_tag photo.key, class: "actor-photo", data: { controller: "actor-photos", action: "click->actor-photos#slide", photo_id: j } %>
          <% j += 1 %>
        <% end %>
      </div>
    </div>

    <div class="position-relative py-4 px-5" style="min-height: 175px" data-controller="video-height" data-action="resize@window->video-height#setVideoHeight">
      <% if @videos.present? %>
        <p class="category-title">_________ VIDEOS</p>
      <% end %>
      <% @videos.each do |link| %>
        <% if link.social.name == "Youtube" %>
          <iframe class="youtube-frame" data-video-height-target="youtubeFrame" style="max-width: 100%" width="100%" height="<%= 600 * (9.fdiv(16)) %>" src="<%= link.social.url %><%= link.url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% elsif link.social.name == "Vimeo" %>
          <iframe class="vimeo-frame" data-video-height-target="vimeoFrame" style="max-width: 100%" width="100%" height="<%= 600 * (9.fdiv(16)) %>" src="<%= link.url %>" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <% end %>
      <% end %>

      <% @video_links.each do |link| %>
        <% if link = @video_links.first %>
          <p class="my-2"><%= t("other_videos") %></p>
        <% end %>
        <a href="<%= link.url %>" target="_blank" class="white-link"><%= link.url %></a>
      <% end %>

      <div class="mt-4 text-center">
        <div class="d-flex flex-column justify-content-center gap-3" style="margin: 0 auto; width: 240px; max-width: 100%;">
          <% if @actor.pt_cv.attached? %>
            <% if I18n.locale == :pt %>
              <%= link_to cloudinary_url(@actor.pt_cv.key), class: "white-btn", target: "_blank" do %>
                → DONWLOAD CV
              <% end %>
            <% end %>
          <% end %>

          <% if @actor.en_cv.attached? %>
            <% if I18n.locale == :en %>
              <%= link_to cloudinary_url(@actor.en_cv.key), class: "white-btn", target: "_blank" do %>
                → DONWLOAD CV
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div class="actor-links-mobile justify-content-center mx-5 mt-4 gap-3">
          <% if @imdb_link %>
            <%= link_to @imdb_link.url, target: "_blank" do %>
              <%= cl_image_tag @imdb_link.social.logo.key, class: "actor-link" %>
            <% end %>
          <% end %>
          <% @links.each do |link| %>
            <%= link_to link.url, target: "_blank" do %>
              <%= cl_image_tag link.social.logo.key, class: "actor-link" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <% if @actor.articles.present? %>
      <div class="position-relative py-4 px-5 d-flex justify-content-between flex-column white-bg" style="min-height: 200px">
        <p class="category-title">_________ <%= t("news").upcase %></p>
        <div class="actor-photos-container actor-photos-container-mobile p-1">
          <% @actor.articles.order(:order_id).each do |article| %>
            <% if article.pdf.attached? %>
              <%= link_to cloudinary_url(article.pdf.key), class: "mb-3 text-decoration-none", target: "a_blank" do %>
                <%= cl_image_tag article.pdf.key + ".png", class: "article-image" %>
              <% end %>
            <% else %>
              <%= link_to article.url, class: "mb-3 text-decoration-none", target: "a_blank" do %>
                <% if article.image.attached? %>
                  <%= cl_image_tag article.image.key, class: "article-image" %>
                <% else %>
                  <%= image_tag "https://res.cloudinary.com/dvkusogad/image/upload/v1675678100/production/news-placeholder_ydbtx5.jpg", class: "article-image-edit" %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= render "shared/footer" %>
  </div>
</div>
