<%= simple_form_for actor, data: { controller: "order-photos", actor_target: "form", order_photos_target: "form" } do |f| %>
  <div class="form-input-container mb-3">
    <%= f.input :first_name, label: "Primeiro Nome", wrapper_html: { class: "form-double-input-wrapper" }, input_html: { class: "actor-form-input" }, label_html: { class: "m-0" } %>
    <%= f.input :last_name, label: "Último Nome", wrapper_html: { class: "form-double-input-wrapper" }, input_html: { class: "actor-form-input" }, label_html: { class: "m-0" } %>
  </div>

  <div class="form-input-container mb-3">
    <%= f.input :email, as: :email, wrapper_html: { class: "form-double-input-wrapper" }, input_html: { class: "actor-form-input" }, label_html: { class: "m-0" } %>
    <%= f.input :phone_number, as: :tel, label: "Nº Telemóvel", wrapper_html: { class: "form-double-input-wrapper" }, input_html: { class: "actor-form-input" }, label_html: { class: "m-0" } %>
  </div>

  <div class="d-flex">
    <%= f.input :bio, wrapper_html: { class: "w-100" }, input_html: { rows: 3, class: "actor-form-input mb-3" }, label_html: { class: "m-0" } %>
  </div>

  <div class="d-flex">
    <%= f.input :bio_en, label: "Bio (Inglês)", wrapper_html: { class: "w-100" }, input_html: { rows: 3, class: "actor-form-input mb-3" }, label_html: { class: "m-0" } %>
  </div>

  <div class="form-input-container mb-3">
    <%= f.input :height, label: "Altura (cm)", wrapper_html: { class: "form-triple-input-wrapper" }, input_html: { class: "actor-form-input" }, label_html: { class: "m-0" } %>
    <%= f.input :hair, label: "Cabelo", wrapper_html: { class: "form-triple-input-wrapper" }, input_html: { class: "actor-form-input" }, label_html: { class: "m-0" } %>
    <%= f.input :eyes, label: "Olhos", wrapper_html: { class: "form-triple-input-wrapper" }, input_html: { class: "actor-form-input" }, label_html: { class: "m-0" } %>
  </div>

  <div class="form-input-container mb-3">
    <%= f.input :hair_en, label: "Cabelo (Inglês)", wrapper_html: { class: "form-double-input-wrapper" }, input_html: { class: "actor-form-input" }, label_html: { class: "m-0" } %>
    <%= f.input :eyes_en, label: "Olhos (Inglês)", wrapper_html: { class: "form-double-input-wrapper" }, input_html: { class: "actor-form-input" }, label_html: { class: "m-0" } %>
  </div>

  <div class="form-input-container mb-3">
    <%= f.input :min_age, label: "Idade Mínima", wrapper_html: { class: "form-double-input-wrapper" }, input_html: { class: "actor-form-input" }, label_html: { class: "m-0" } %>
    <%= f.input :max_age, label: "Idade Máxima", wrapper_html: { class: "form-double-input-wrapper" }, input_html: { class: "actor-form-input" }, label_html: { class: "m-0" } %>
  </div>

  <div class="form-input-container mb-3">
    <%= f.input :skills, label: "Skills", wrapper_html: { class: "form-double-input-wrapper" }, input_html: { class: "actor-form-input" }, label_html: { class: "m-0" } %>
    <%= f.input :skills_en, label: "Skills (Inglês)", wrapper_html: { class: "form-double-input-wrapper" }, input_html: { class: "actor-form-input" }, label_html: { class: "m-0" } %>
  </div>

  <div class="form-input-container mb-3">
    <%= f.input :languages, label: "Línguas", wrapper_html: { class: "form-double-input-wrapper" }, input_html: { class: "actor-form-input" }, label_html: { class: "m-0" } %>
    <%= f.input :languages_en, label: "Línguas (Inglês)", wrapper_html: { class: "form-double-input-wrapper" }, input_html: { class: "actor-form-input" }, label_html: { class: "m-0" } %>
  </div>

  <div class="form-input-container mb-3">
    <label class="mb-3">
      <%= f.input :primary_photo, as: :file, label: "Foto Principal", input_html: { class: "actor-form-input d-none", data: { action: "change->actor#uploadPrimaryPhoto" }}, label_html: { class: "m-0" } %>
      <div class="d-flex">
        <a data-actor-target="photoButton" class="black-btn border-0 text-center w-100" style="cursor: pointer; white-space: nowrap;">Carregar Foto</a>
      </div>
    </label>
  </div>

  <div class="mb-4">
    <p>Outras fotos</p>
    <% if @actor.ordered_photos.present? %>
      <div class="actor-photos-container d-flex gap-1" data-order-photos-target="photosContainer" style="height: 140px;">
        <% @actor.ordered_photos.each do |photo| %>
          <div class="position-relative ordered-photo-div" style="background-image: url('<%= cl_image_path photo.key, transformation: { quality: "auto", fetch_format: :auto, width: :auto, crop: "scale" } %>'); cursor: grab;" data-target="photo" data-photo-id="<%= photo.id %>">
            <%= link_to "Apagar", actor_delete_photo_path(@actor, photo_id: photo.signed_id), data: { turbo_method: :delete, turbo_confirm: "Tem a certeza que quer apagar esta fotografia?" },class: "delete-photo-btn" %>
            <%#= cl_image_tag photo.key, class: "actor-photo", style: "cursor: unset;" %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= f.input :ordered_photo_ids, as: :hidden, label: false, wrapper_html: { style: "margin: 0 !important" }, input_html: { multiple: true, class: "actor-form-input d-none", data: { order_photos_target: "input" } } %>
    <label class="form-double-input-wrapper">
      <% @actor.ordered_photos.each do |photo| %>
        <%= f.hidden_field :photos, multiple: true, value: photo.signed_id, class: "hidden-photos" %>
      <% end %>
      <%= f.input :photos, as: :file, label: false, input_html: { multiple: true, class: "actor-form-input d-none", data: { action: "change->actor#uploadPhotos" } }, label_html: { class: "m-0" } %>
      <div class="d-flex">
        <a data-actor-target="photosButton" class="black-btn border-0 text-center w-100" style="cursor: pointer; white-space: nowrap;">Carregar Fotos</a>
      </div>
    </label>
  </div>

  <div class="form-input-container">
    <label class="form-double-input-wrapper mb-3">
      <%= f.input :pt_cv, as: :file, label: "Curriculum (PT)", input_html: { class: "d-none actor-form-input", data: { action: "change->actor#uploadPtCv" } }, label_html: { class: "m-0" } %>
      <div class="d-flex">
        <a data-actor-target="cvPtButton" class="black-btn border-0 text-center w-100" style="cursor: pointer; white-space: nowrap;">Carregar CV (PT)</a>
      </div>
    </label>

    <label class="form-double-input-wrapper mb-3">
      <%= f.input :en_cv, as: :file, label: "Curriculum (EN)", input_html: { class: "d-none actor-form-input", data: { action: "change->actor#uploadEnCv" } }, label_html: { class: "m-0" } %>
      <div class="d-flex">
        <a data-actor-target="cvEnButton" class="black-btn border-0 text-center w-100" style="cursor: pointer; white-space: nowrap;">Carregar CV (EN)</a>
      </div>
    </label>
  </div>
<% end %>