<div id="photo-placeholder-carousel" class="carousel slide actor-img-col text-center" data-bs-ride="carousel" data-bs-interval="20000">
  <% if current_user %>
    <% if current_user.admin %>
      <div class="admin-btns-container d-flex flex-column text-center justify-content-center">
        <%= link_to "EDITAR", edit_actor_path(@actor), class: "white-btn admin-show-btn" %>
        <%= link_to "APAGAR", actor_path(@actor), class: "black-btn admin-show-btn", data: { turbo_method: "delete", turbo_confirm: "Apagar #{@actor.first_name} #{@actor.last_name}?"} %>
      </div>
    <% end %>
  <% end %>

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#photo-placeholder-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Placeholder Slide 1"></button>
    <% i = 1 %>
    <% actor.ordered_photos.each do |photo| %>
      <button type="button" data-bs-target="#photo-placeholder-carousel" data-bs-slide-to="<%= i %>" aria-label="Placeholder Slide <%= i + 1 %>"></button>
      <% i += 1 %>
    <% end %>
  </div>

  <div class="carousel-inner actor-img-carousel">
    <div class="carousel-item active">
      <div class="actor-img-col text-center" style="background: url(<%= cl_image_path actor.primary_photo.key if actor.primary_photo.attached? %>); background-position: top; background-size: cover; background-repeat: no-repeat;">
        <div class="actor-img-border"></div>
        <div class="h-100 w-100 actor-card-hover"></div>
        <p class="actor-photo-legend" style="bottom: 20px;"><strong>©</strong> <%= actor.primary_photo.filename %></p>
        <p class="actor-card-name" style="bottom: 30px;"><%= actor.first_name.upcase %> <%= actor.last_name.upcase %></p>
      </div>
    </div>

    <% actor.ordered_photos.each do |photo| %>
      <div class="carousel-item">
        <div class="actor-img-col text-center" style="background: url(<%= cl_image_path photo.key %>); background-position: center; background-size: contain; background-repeat: no-repeat;">
          <div class="h-100 w-100 actor-card-hover"></div>
          <p class="actor-photo-legend" style="bottom: 20px;"><strong>©</strong> <%= photo.filename %></p>
          <p class="actor-card-name" style="bottom: 30px;"><%= actor.first_name.upcase %> <%= actor.last_name.upcase %></p>
        </div>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#photo-placeholder-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#photo-placeholder-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>