<button id="modal-btn" type="button" class="black-btn bigger-btn border-0" data-bs-toggle="modal" data-bs-target="#contactModal">
  Contactar
</button>

<div class="modal actor-imgs-modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content black-bg">
      <div class="modal-body px-5 py-3">
        <%= simple_form_for @message do |f| %>
          <%= f.input :email, input_html: { class: "actor-form-input white-font", style: "border-bottom: 1px solid white", placeholder: "exemplo@gmail.com" } %>
          <%= f.input :subject, label: "Título", input_html: { class: "actor-form-input white-font", style: "border-bottom: 1px solid white", placeholder: "Título da sua mensagem.." } %>
          <%= f.input :content, label: "Mensagem", input_html: { class: "actor-form-input white-font", style: "border-bottom: 1px solid white", placeholder: "A sua mensagem.." } %>
          <%= f.button :submit, "Enviar", class: "white-btn w-100" %>
        <% end %>
      </div>
      <div class="modal-footer px-3 py-2" id="footer">
        <button type="button" class="black-bordered-btn black-bg modal-close btn-padding" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>