<div class="d-flex mb-4 w-100">
  <%= simple_form_for [actor, article], html: { class: "flex-grow-1" } do |f| %>
    <div class="gap-3 article-input-mobile">
      <label style="cursor: pointer">
        <%= f.input :image, as: :file, label: false, wrapper_html: { style: "margin: 0 !important; flex-grow: 1" }, input_html: { class: "actor-form-input-black d-none" }, label_html: { class: "mb-0" } %>
        <div class="d-flex">
          <% if article.image.attached? %>
            <%= cl_image_tag article.image.key, class: "article-image-edit" %>
          <% else %>
            <%= image_tag "https://res.cloudinary.com/dvkusogad/image/upload/v1675678100/production/news-placeholder_ydbtx5.jpg", class: "article-image-edit" %>
          <% end %>
        </div>
      </label>
      <div class="d-flex gap-3 flex-grow-1">
        <%= f.input :url, label: false, wrapper_html: { style: "margin: 0 !important; flex-grow: 1" }, input_html: { class: "actor-form-input-black" } %>
        <div class="d-flex gap-3" style="height: fit-content">
          <%= f.button :submit, "Guardar", class: "white-bordered-btn btn-padding rounded-0", style: "height: fit-content" %>
          <%= link_to article_path(article), class: "align-self-center black-font" ,data: { turbo_method: :delete } do %>
            <i class="fa-regular fa-square-minus"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>