<div class="navbar navbar-expand-lg navbar-light <%= ((controller_name == "actors" && action_name == "index") || controller_name == "messages") ? "navbar-white" : "navbar-black" %>">
  <div class="container-fluid mx-5 px-0">
    <%= link_to root_path, class: "navbar-brand m-0" do %>
      <p class="logo m-0 text-center <%= "white-font" if ((controller_name != "actors" || action_name != "index") && controller_name != "messages") %>">CARRELO SQUAD</p>
      <p class="logo-aux m-0 text-center <%= "white-font" if ((controller_name != "actors" || action_name != "index") && controller_name != "messages") %>">ACTORS MANAGEMENT</p>
    <% end %>

    <button class="navbar-toggler menu-burguer white-font" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon <%= "navbar-toggler-icon-white" if ((controller_name != "actors" || action_name != "index") && controller_name != "messages") %>">
      </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="dropdown me-2">
        <button class="py-1 px-2 border-0 bg-transparent dropdown-toggle <%= "white-font" if ((controller_name != "actors" || action_name != "index") && controller_name != "messages") %>" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <%= I18n.locale.upcase %>
        </button>
        <ul class="px-3 dropdown-menu" aria-labelledby="dropdownMenuButton1"  style="min-width: unset; width: fit-content">
          <li><%= link_to "PT", pt_path, data: { turbo_method: "POST" }, class: "text-decoration-none #{ "fw-bold" if I18n.locale == :pt }", style: "padding: 6px 0px;" %></li>
          <li><%= link_to "EN", en_path, data: { turbo_method: "POST" }, class: "text-decoration-none #{ "fw-bold" if I18n.locale == :en }", style: "padding: 6px 0px;" %></li>
        </ul>
      </div>

      <ul class="navbar-nav me-auto">
        <li class="nav-item me-2">
          <%= link_to User.first.cast_pdf.url, target: "a_blank", class: "p-2 nav-link #{ ((controller_name == "actors" && action_name == "index") || controller_name == "messages") ? "nav-link-black black-btn" : "nav-link-white white-btn" }" do %>
            CAST <i class="fa-solid fa-arrow-down"></i>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "+ ACTOR", new_actor_path, class: "nav-link nav-mobile-btn #{ ((controller_name == "actors" && action_name == "index") || controller_name == "messages") ? "nav-black-btn" : "nav-white-btn" }" %>
          </li>
          <li class="nav-item messages-nav-item position-relative me-1">
            <%= link_to messages_path, class: "nav-link nav-mobile-btn #{ ((controller_name == "actors" && action_name == "index") || controller_name == "messages") ? "white-bordered-btn" : "black-bordered-btn" }" do %>
              <p class="position-absolute unread-messages-counter <%= "d-none" unless Message.where(read: false).count > 0 %>"><%= Message.where(read: false).count %></p>
              MENSAGENS
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to t("actors").upcase, root_path, class: "nav-link #{ ((controller_name == "actors" && action_name == "index") || controller_name == "messages") ? "nav-link-black" : "nav-link-white" }" %>
          </li>
          <li class="nav-item">
            <%= link_to t("about").upcase, about_path, class: "nav-link #{ ((controller_name == "actors" && action_name == "index") || controller_name == "messages") ? "nav-link-black" : "nav-link-white" }" %>
          </li>
          <li class="nav-item">
            <%= link_to t("contacts").upcase, "/about#contacts", class: "nav-link #{ ((controller_name == "actors" && action_name == "index") || controller_name == "messages") ? "nav-link-black" : "nav-link-white" }" %>
          </li>
          <li class="nav-item">
            <%= link_to "PERFIL", edit_user_registration_path, class: "nav-link #{ ((controller_name == "actors" && action_name == "index") || controller_name == "messages") ? "nav-link-black" : "nav-link-white" }" %>
          </li>
          <li class="nav-item">
            <%= link_to "LOG OUT", destroy_user_session_path, class: "nav-link #{ ((controller_name == "actors" && action_name == "index") || controller_name == "messages") ? "nav-link-black" : "nav-link-white" }", data: { turbo_method: "delete" } %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to t("actors").upcase, root_path, class: "nav-link #{ ((controller_name == "actors" && action_name == "index") || controller_name == "messages") ? "nav-link-black" : "nav-link-white" }" %>
          </li>
          <li class="nav-item">
            <%= link_to t("about").upcase, about_path, class: "nav-link #{ ((controller_name == "actors" && action_name == "index") || controller_name == "messages") ? "nav-link-black" : "nav-link-white" }" %>
          </li>
          <li class="nav-item">
            <%= link_to t("contacts").upcase, "/about#contacts", class: "nav-link #{ ((controller_name == "actors" && action_name == "index") || controller_name == "messages") ? "nav-link-black" : "nav-link-white" }" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
