<div class="navbar navbar-expand-lg navbar-light <%= ((controller_name == "actors" && action_name == "index") || controller_name == "messages") ? "navbar-white" : "navbar-black" %>">
  <div class="container-fluid mx-5 px-0">
    <%= link_to root_path, class: "navbar-brand m-0" do %>
      <p class="logo m-0 text-center <%= "white-font" if ((controller_name != "actors" || action_name != "index") && controller_name != "messages") %>">CARRELO SQUAD</p>
      <p class="logo-aux m-0 text-center <%= "white-font" if ((controller_name != "actors" || action_name != "index") && controller_name != "messages") %>">ACTORS MANAGEMENT</p>
    <% end %>

    <button class="navbar-toggler menu-burguer white-font" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon <%= "navbar-toggler-icon-white" if ((controller_name != "actors" || action_name != "index") && controller_name != "messages") %>">
      </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "+ ACTOR", new_actor_path, class: "nav-link nav-mobile-btn #{ ((controller_name == "actors" && action_name == "index") || controller_name == "messages") ? "nav-black-btn" : "nav-white-btn" }" %>
          </li>
          <li class="nav-item messages-nav-item position-relative">
            <%= link_to messages_path, class: "nav-link nav-mobile-btn #{ ((controller_name == "actors" && action_name == "index") || controller_name == "messages") ? "white-bordered-btn" : "black-bordered-btn" }" do %>
              <% if Message.where(read: false).count > 0 %>
                <p class="position-absolute unread-messages-counter"><%= Message.where(read: false).count %></p>
              <% end %>
              MENSAGENS
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "ACTORES", root_path, class: "nav-link #{ ((controller_name == "actors" && action_name == "index") || controller_name == "messages") ? "nav-link-black" : "nav-link-white" }" %>
          </li>
          <li class="nav-item">
            <%= link_to "SOBRE", about_path, class: "nav-link #{ ((controller_name == "actors" && action_name == "index") || controller_name == "messages") ? "nav-link-black" : "nav-link-white" }" %>
          </li>
          <li class="nav-item">
            <%= link_to "CONTACTOS", "/about#contacts", class: "nav-link #{ ((controller_name == "actors" && action_name == "index") || controller_name == "messages") ? "nav-link-black" : "nav-link-white" }" %>
          </li>
          <li class="nav-item">
            <%= link_to "LOG OUT", destroy_user_session_path, class: "nav-link #{ ((controller_name == "actors" && action_name == "index") || controller_name == "messages") ? "nav-link-black" : "nav-link-white" }", data: { turbo_method: "delete" } %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "ACTORES", root_path, class: "nav-link #{ ((controller_name == "actors" && action_name == "index") || controller_name == "messages") ? "nav-link-black" : "nav-link-white" }" %>
          </li>
          <li class="nav-item">
            <%= link_to "SOBRE", about_path, class: "nav-link #{ ((controller_name == "actors" && action_name == "index") || controller_name == "messages") ? "nav-link-black" : "nav-link-white" }" %>
          </li>
          <li class="nav-item">
            <%= link_to "CONTACTOS", "/about#contacts", class: "nav-link #{ ((controller_name == "actors" && action_name == "index") || controller_name == "messages") ? "nav-link-black" : "nav-link-white" }" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
