<div class="margin-top-show">
  <%# About section: %>
  <%# <div class="white-bg px-5 py-5"> %>
    <%# <h2 class="fw-light">_________ <%= t("about").upcase %>
    <%# <p class="text-justify" style="white-space: break-spaces"><%= I18n.locale == :pt ? User.first.about : User.first.about_en %>
  <%# </div> %>

  <div class="black-bg px-5 py-5">
    <h2 class="fw-light">_________ RITA CARRELO</h2>
    <div class="d-flex gap-5 justify-content-between about-container mt-3">
      <div class="owner-card my-3 position-relative" style="background-image: url('<%= User.first.photo.attached? ? cl_image_path(User.first.photo.key, transformation: { quality: "auto", fetch_format: :auto, width: :auto, crop: "scale" }) : "https://res.cloudinary.com/dvkusogad/image/upload/v1675337671/production/rita_carrelo_r01v2d.jpg" %>'); margin: 0 auto;">
        <div class="h-100 w-100 actor-card-hover">
        </div>
        <div class="actor-card-border">
        </div>
      </div>
      <% if User.first.photo.attached? %>
        <%= cl_image_tag User.first.photo.key, class: "about-image", transformation: { quality: "auto", fetch_format: :auto, width: :auto, crop: "scale" } %>
      <% else %>
        <%= image_tag "https://res.cloudinary.com/dvkusogad/image/upload/v1675337671/production/rita_carrelo_r01v2d.jpg", class: "about-image" %>
      <% end %>
      <div class="flex-grow-1">
        <p class="text-justify" style="white-space: break-spaces"><%= I18n.locale == :pt ? User.first.bio : User.first.bio_en %></p>
      </div>
    </div>
  </div>

  <div class="white-bg px-5 py-5">
    <h2 class="fw-light" id="contacts">_________ <%= t("contacts") %></h2>
    <div class="d-flex gap-4 justify-content-between about-container">
      <div class="w-100">
        <div class="mb-3">
          <p class="mb-0"><%= User.first.mobile %></p>
          <p><%= User.first.email %></p>
        </div>
        <%# <div>
          <p class="mb-0 text-decoration-underline">MORADA:</p>
          <p>CARRELO SQUAD, Praça de Alvalade, 1700-037 Lisboa, Portugal</p>
        </div> %>
        <div class="py-3 d-flex justify-content-center">
          <%= render "shared/contact_modal" %>
        </div>
      </div>
      <%# <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3111.4590648485923!2d-9.14597614937517!3d38.753173662937925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1933aaea48df5d%3A0x1fb5fbc0fab97cb3!2sPra%C3%A7a%20Alvalade%2C%201700-037%20Lisboa!5e0!3m2!1sen!2spt!4v1672241113403!5m2!1sen!2spt" width="700" height="405" style="border:0; display: flex" class="mobile-map" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> %>
    </div>
  </div>
</div>

